body{
    background-color: #dfa678e0;
    margin-top: 0;
    text-align: center;
    margin: 0;
    
}

 .conteiner{
 position: relative;
 }

 .text1 {
    position: absolute;
    top: 130px;
    left: 38%;
    color:#a32c5ae0; 
    font-size: 5rem;
    font-family: "Sacramento", cursive;
    font-weight: 1000;
    font-style: normal;
    z-index: 1;
 }

 .text2{
   position: absolute;
   top: 300px;
   left: 39%;
   color:#aa2e5de0;
   font-size: 2rem;
   z-index: 1;

 }

 .home>img{
    margin: 0;
    width: 1350px;
    height: 640px;
    opacity: 0.8;
 
 }

 .conteiner{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .about-me img{
   border-radius: 50%;
   width: 180px;
   height: 180px;
   margin-top: 140px;
  }

 .about-me h2{
   font-family: "Montserrat", sans-serif;
   font-size: 2.5rem;
   font-weight: normal;
   padding-bottom: 5px;
   color:#aa2e5de0;
   display: block;
   margin-top: 50px;
   
}
   
.textp{
   margin-top: 40px;
   margin-bottom: 200px;
   white-space: pre-line;
   font-size:18px ;
   font-family: "Merriweather", serif;
   font-weight: 100;
   font-style: normal;

}

.ability{
   display: grid;
   grid-template-columns: 0.5fr 1fr;
   grid-template-rows: repeat(1, 1fr);
   width: 50%;
   margin: 100px auto 0 auto;
   text-align: left;
   row-gap: 3rem;
   
 
}
    
.ability img{
   width:250px ;
   
 }

.skill{
   color:#aa2e5de0; 
   font-size: 2.5rem;
   font-family: "Montserrat", sans-serif;
   font-weight: normal;
   text-align: center;
  
  
}

.title{
   color:#aa2e5de0; 
   font-size: 1.5rem;
   font-family: "Montserrat", sans-serif;
   font-weight: normal;
  
}

.ability p{
   margin-top: 0;
   margin-bottom: 150px;
   white-space: pre-line;
   font-size:18px ;
   font-family: "Merriweather", serif;
   font-weight: 100;
   font-style: normal;
   color: black;
}

.contact h2{
 margin-top: 150px; 
 font-family: "Montserrat", sans-serif;
 font-size: 2.5rem;
 font-weight: normal;
}

.contact button{  
   border-radius: 10px;
   background-color: #aa2e5de0;
   transition: 0.5s ;
   border: none;
   color: white;
   padding: 5px 10px;
   cursor: pointer;
   margin: 50px 10px;
   display: inline-block;
   font-size: 20px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   text-align: center;
   text-decoration: none;
}

button:hover{
   background-color: #f57baae0; 
   color: rgb(255, 255, 255);
   opacity: 0.1s;
}

footer{
   margin-top: 30px;
   background-color: #ec944ce0;
   padding: 20px;
}

footer a{
  color:#d45385e0 ;
  text-decoration: none;
  font-size: 1rem;
  padding: 20px;
}

footer p{
   margin-top: 15px;
   font-size: 0.8rem;
   padding: 20px;
}

footer a:hover{
   color: white;
}

body{
   background-color: aqua;
}

